@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: #2a74e2 1px solid;
  background: transparent;
  padding: 18px 24px;
  width: 423px; /* Fixed width */
  height: 350px; /* Fixed height */
  transition: all 0.2s ease-in-out;
  align-items: center; /* Center content */
}

.container:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

.image {
  width: 100%; /* Make it responsive */
  height: 250px; /* Set a fixed height */
  object-fit: cover; /* Ensures images maintain aspect ratio and fill the space */
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}



.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #ffffff;
  background: #2a74e2;
  font-size: 20px;
  font-weight: 600;
  border-radius: 13px;
  padding: 7px 22px;
  width: 50%;
  margin-left: 12px;
}


.demo {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 13px;
  background: transparent;
  border: 2px solid #2a74e2;
  padding: 7px 14px;
  width: 50px;
}


@media screen and (max-width:930px) {
  .container {
    padding: 18px 24px;
    max-width: 320px;
    max-height: 500px;
  }

  .image {
    margin-bottom: 26px;
    border-radius: 5px;
    width: 270px;
  }

  .skill {
    font-size: 13px;
  }

  .description {
    font-size: 14px;
  }

  .title {
    font-size: 17px
  }
}