.skills-card {
    border-radius: 0.65rem;
    border: 1.5px solid #3562a5;
    padding: 2.5rem;
    text-align: center;
    background: #19171b4f;
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills-card:hover {
    transition: all 0.3s ease;
    background: linear-gradient(180deg,#0da1db 8%, #2f41e6 100%);
}

.skills-card:active {
    transform: scale(0.95)
}


.skills-card span {
    font-size: 1.3rem;
    font-weight: 500;
}

.skill-icon {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8ebbff;
    border-radius: 0.65rem;
    border: 1.5px solid #3662f1;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.skill-icon img {
    width: 2.4rem;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1025px) {
    .skills-card {
        padding: 2rem;
    }

    .skills-card span {
        font-size: 1rem;
    }

    .skill-icon {
        width: 3rem;
        height: 3rem;
    }

    .skills-icon img {
        width: 1.8rem;
    }
}

@media (max-width: 768px) {

    .skills-card span {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {

    .skills-card span {
        font-size: 0.7rem;
    }

    .skills-card {
        padding: 1.5rem;
    }
}

@media (max-width: 463px) {

    .skills-card span {
        font-size: 0.7rem;
    }

    .skills-card {
        padding: 1.0rem;
    }

    .skill-icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    .skill-icon img {
        width: 1.5rem;
    }

}